.problem2-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.problem2-box > div {
  font-size: 3rem;
}
.piechart {
  width: 500px;
  height: 300px;
}
